<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Screen.Alive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Screen.Alive.Properties.Settings>
            <setting name="ByMouseJiggle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ByNativeMethod" serializeAs="String">
                <value>True</value>
            </setting>
        </Screen.Alive.Properties.Settings>
    </userSettings>
</configuration>